= form_for @analyst_record do |f|
  - if @analyst_record.errors.any?
    #error_explanation
      %h2= "#{pluralize(@analyst_record.errors.count, "error")} prohibited this analyst_record from being saved:"
      %ul
        - @analyst_record.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :analyst
    = f.text_field :analyst
  .field
    = f.label :game_date
    = f.date_select :game_date
  .field
    = f.label :matchup
    = f.text_field :matchup
  .field
    = f.label :selection
    = f.text_field :selection
  .field
    = f.label :line_source
    = f.text_field :line_source
  .field
    = f.label :posted_time
    = f.datetime_select :posted_time
  .field
    = f.label :result
    = f.number_field :result
  .field
    = f.label :sport_type
    = f.number_field :sport_type
  .actions
    = f.submit 'Save'
