= form_for @search do |f|
  - if @search.errors.any?
    #error_explanation
      %h2= "#{pluralize(@search.errors.count, "error")} prohibited this search from being saved:"
      %ul
        - @search.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :origin
    = f.text_field :origin
  .field
    = f.label :destination
    = f.text_field :destination
  .field
    = f.label :departure_date
    = f.date_select :departure_date
  .field
    = f.label :arrival_date
    = f.date_select :arrival_date
  .field
    = f.label :ip_address
    = f.text_field :ip_address
  .actions
    = f.submit 'Save'
