%p#notice= notice

%p
  %b Origin:
  = @search.origin
%p
  %b Destination:
  = @search.destination
%p
  %b Departure date:
  = @search.departure_date
%p
  %b Arrival date:
  = @search.arrival_date
%p
  %b Ip address:
  = @search.ip_address

= link_to 'Edit', edit_search_path(@search)
\|
= link_to 'Back', searches_path

%h1 Listing search_results

%table
  %thead
    %tr
      %th Search
      %th Airline
      %th Results
      %th
      %th
      %th

  %tbody
    - @search.results.each do |search_result|
      %tr
        %td= search_result.search
        %td= search_result.airline
        %td= Marshal.load(search_result.results)
        %td= link_to 'Show', search_result
        %td= link_to 'Edit', edit_search_result_path(search_result)
        %td= link_to 'Destroy', search_result, :method => :delete, :data => { :confirm => 'Are you sure?' }

